<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402167014063-gnlf7i2andl22th4680m6hdm19oo88ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402167014063-gnlf7i2andl22th4680m6hdm19oo88ul</string>
	<key>API_KEY</key>
	<string>AIzaSyBVw8qGygr2LkzPFL8fJ5G2XRgr6DH5CJY</string>
	<key>GCM_SENDER_ID</key>
	<string>402167014063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-42b89</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-42b89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402167014063:ios:43c4c8424a0a0ada3faa5a</string>
</dict>
</plist>